.account-page{
    display: flex;
justify-content: space-between;
    align-items: start;
    min-height: 100vh;
    width: 100%;
    margin-top: 0;
}

.account-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}