.cart-page {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.cart-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-bottom: 1px solid #f2ef20;
  
}

.cart-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.cart-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cart-total{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
 
}

.checkout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}