.firstPage{

    padding: 1rem;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.bottonContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border: 1px solid var(--border-gold-simple);
 
    padding: 0.5rem

}

