.firstPage{

    padding: calc(16px * 1);
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(16px * 1);
}

.bottonContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
 gap: calc(16px * 1.5);
    padding: calc(16px * 0.5);

}

