.home {
     background: fixed;
    background-image: url('/backHome.webp');
    width: 100%;
min-height: 100vh;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
   
}

.home h1{
    font-family: var(--titlePage);
    font-weight: bolder;
    background-color:var(--background-color-tr) ;
  
}

.message{
    background-color: var(--background-color-tr);

}
