.newsletter-contact-page{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow:
        0 -4px 0 0 #000, 0 4px 0 0 #000, -4px 0 0 0 #000, 4px 0 0 0 #000,
        0 -8px 0 0 #f8b800, 0 8px 0 0 #f8b800, -8px 0 0 0 #f8b800, 8px 0 0 0 #f8b800,
        inset 4px 4px 0 0 #f8f8b8,
        inset -4px -4px 0 0 #b87800;

    margin: 12px;
}



.map{
    padding: 1rem;
    border: 1px solid var(--border-gold-simple);
   margin: 1rem 0;
}

.newsletter-container{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
 
}

.success{
      animation: pixel-gold-flash 0.6s steps(2) infinite;
text-decoration: underline;
}

.textarea-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 1rem 1rem;
    border: 1px solid var(--border-gold-simple);
}

.textarea-container textarea{
    width: 100%;
    resize: none;
    outline: none;
    border: none;
  
}



@keyframes pixel-gold-flash {
  0% {
   
    color: var(--font-color-light);
    box-shadow: 
      0 4px 0 0 transparent, 
      0 -4px 0 0 transparent, 4px 0 0 0 transparent, -4px 0 0 0 transparent;
  }
  100% {
    color: var(--border-gold-simple);
    box-shadow: 
      0 4px 0 0 transparent, 
      0 -4px 0 0 transparent, 4px 0 0 0 transparent, -4px 0 0 0 transparent;
  }
}

