.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
}

.ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #f2ef20;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 95%;
    flex-wrap: wrap;
}

.containerProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: 0;
    opacity: 0;
}

.containerProducts.active{
    height: 100%;
    opacity: 1;
}