.section-profilo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    width: 80%
}

h2{font-family: var(--titleFont);
font-size: 2.5rem;;

}

h3{font-family: var(--titleFont);
font-size: 2rem;
}


.delete-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}


.delete-container h2 {
  animation: pixel-gold-flash 0.6s steps(2) infinite;
  margin: 1rem;

}

@keyframes pixel-gold-flash {
  0% {
   
    color: var(--font-color-light);
    box-shadow: 
      0 4px 0 0 transparent, 
      0 -4px 0 0 transparent, 4px 0 0 0 transparent, -4px 0 0 0 transparent;
  }
  100% {
    color: var(--font-color-error);
    box-shadow: 
      0 4px 0 0 transparent, 
      0 -4px 0 0 transparent, 4px 0 0 0 transparent, -4px 0 0 0 transparent;
  }
}

.delete-container button{
    background-color: var(--border-orange);
    border: 1px solid var(--border-gold-simple);
 
}