.button {

    padding: 0.5rem;
    background-color: #65d469;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.secondaryButton {
    padding: 0.5rem;
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    cursor: pointer;
}

.button:hover {
    background-color: #125b15;
    color: white;
}

.button:active {
    background-color: #125b15;
    color: white;
    text-decoration: underline;
}

.active {
    background-color: #125b15;
    color: white;
    text-decoration: underline;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}