.card {
    width: 30%;
    background-color: rgb(90, 90, 253);
    min-height: 20rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.card p {
    width: 90%;
    text-align: left;
    text-transform: capitalize;
    width: 90%;
}

.card .image {
    background-image: url(../../../assets/sprite64x64.webp);
    background-size: auto;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    transform: scale(2);

}


.card:nth-child(1) .image {
    background-position: 0 0;
}

.card:nth-child(2) .image {
    background-position: -256px 0;
}

.card:nth-child(3) .image {
    background-position: -320px 0;

}

.sales{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sales .image{

    background-image: url(../../../assets/sprite64x64.webp);
    background-size: auto;
    background-repeat: no-repeat;
    width: 75%;
    height: 192px;
    transform: scale(1.3);
    background-position: 0 0;


}