@font-face {
  font-family: 'SocialFont'; 
  src: url('../../../assets/font/fontsoc//Social_Shapes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}


.footer {
    width: 100%;
    margin-top: calc(16px * 2);
    background-color: rgb(88, 88, 88);
    color: var(--font-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc(16px * 0.5);
    gap: calc(16px * 2);
    border-top: 1px solid var(--border-gold-simple);
}

.footer section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(16px * 1);
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(16px * 1);

}

.footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-orange);
 
}

.footer a {
    text-decoration: none;
    color: white;
   width: calc(16px * 3);
   height: calc(16px * 3);
   display: flex;
   justify-content: center;
   align-items: center;

   gap: calc(16px * 1);
   
}

li.social{
        font-family: "SocialFont";
    font-size: 2.5rem;
    color: var(--font-color-light);
cursor: pointer;
}

li.social a:hover{
    color: var(--border-gold-simple);
}





.footer .contact {

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-gold-simple);
 
    padding: calc(16px * 0.1) calc(16px * 0.2);
}

.footer address{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(16px * 2);
  
}

