.form {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
}

.pass-container:first-of-type{

    border-top: 1px solid #f2ef20;
    border-bottom: none;
}


.pass-container:nth-last-of-type(1) {

    border-top: none;
    border-bottom: 1px solid #f2ef20;
}

.input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

}

.pass-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid #f2ef20;
    border-bottom: 1px solid #f2ef20;
    border-radius: 0.3rem;
    padding: 1rem 0;


}