.form-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}




.form-filter label:hover {
    background-color: rgb(137, 137, 1);
}



fieldset{
    font-size: 0.9rem;
    width: 95%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap:wrap ;
gap: 0.2rem;
padding: 0.1rem;
border-radius: 0.3rem;
 }
