.form {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border-gold-simple);
    padding: calc(16px * 1);

}

.pass-container:first-of-type {

    border-top: 1px solid var(--border-gold-simple);
    border-bottom: none;
}


.pass-container:nth-last-of-type(2) {

    border-top: none;
    border-bottom: 1px solid var(--border-gold-simple);
}

.input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;


}


.input-pass-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;



}

.input-pass-container div {
    width: calc(16px * 12.9);
}



.pass-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(16px * 1);
    border-top: 1px solid var(--border-gold-simple);
    border-bottom: 1px solid var(--border-gold-simple);

    padding: calc(16px * 1) 0;


}

.error-list li {
    color: var(--font-color-error);
    font-size: 1.2rem;

}

.success {

    color: var(--border-gold-simple);
    font-size: 2rem;
    text-decoration: underline;
}

@media screen and (max-width: 700px) {

    .input-container,
    .input-pass-container {
        flex-direction: row;
        flex-direction: column-reverse;
    }
}