.form-filter {
     position: sticky;
    top: calc(var(--nav-height));
    width: 100%;
    padding-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    background-color: var(--bacground-color-nav);
    border-top: none;
    
    



}

.form-filter label {
    background-color: var(--button-background);
    cursor: pointer;
    padding: 0.2rem;
   color: var(--font-color-dark);
   font-weight: 600;
    border: 1px solid var(--border-orange);
}




.form-filter label:hover,
.form-filter input:checked+label {
    background-color: var(--button-hover-background);
}

.form-filter details{
   
    border-bottom: 1px solid var(--border-gold-simple);


    width: 100%;
   padding: 0.4rem 0.2rem ;
    background-color: var(--background-color-tr);
}



.form-filter summary{

    cursor: pointer;
}

.form-filter:last-child{
    border-bottom: none;
}


.details-container {
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding: 0.5rem;
    
    
  
}



.fieldset-prezzo label{
  
    
    color: var(--font-color-light);
    cursor: none;

}

.form-filter .fieldset-prezzo label:hover,
.form-filter .fieldset-prezzo label {
pointer-events: none;
color: var(--font-color-dark);
}

.form-filter summary::-webkit-details-marker {
  display: none;
}

.form-filter summary {
  list-style: none;
  cursor: pointer; 
  outline: none; 
}

.form-filter summary::marker {
  display: none;
  content: "";
}


.form-filter details summary::before {
  content: "[+] ";
  font-family: 'Jersey 10', sans-serif;
  color: var(--border-orange);
}

 .form-filter details[open] summary::before {
  content: "[-] ";
  color: var(--font-color-light);
}

