.form {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
border-bottom: 1px solid var(--border-gold-simple);
    padding: 1rem;
}

.pass-container:first-of-type{

    border-top: 1px solid var(--border-gold-simple);
    border-bottom: none;
}


.pass-container:nth-last-of-type(2) {

    border-top: none;
    border-bottom: 1px solid var(--border-gold-simple);
}

.input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

}

.pass-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid var(--border-gold-simple);
    border-bottom: 1px solid var(--border-gold-simple);
  
    padding: 1rem 0;


}

.error{
    color: var(--font-color-error);

}

.success{
   
    color: var(--border-gold-simple);
    font-size: 2rem;
    text-decoration: underline;
}