.form-filter {
    width: 100%;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
    background-color: var(--bacground-color-nav);
    border-top: none;
    gap: 0.5rem;



}

.form-filter label {
    background-color: var(--button-background);
    cursor: pointer;
    padding: 0.2rem;
   color: var(--font-color-dark);
   font-weight: 600;
    border: 1px solid var(--border-orange);
}




.form-filter label:hover,
.form-filter input:checked+label {
    background-color: var(--button-hover-background);
}

.form-filter details{
   
    border: 1px solid var(--border-gold-simple);
    width: 100%;
    padding: 0.5rem;
    background-color: var(--background-color-tr);
}

.form-filter summary{

    cursor: pointer;
}

.details-container {
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
    padding: 0.5rem;
    
    
  
}



.fieldset-prezzo label{
  
    /* background-color: none; */
    color: var(--font-color-light);
    cursor: none;

}

.form-filter .fieldset-prezzo label:hover,
.form-filter .fieldset-prezzo label {
pointer-events: none;
color: var(--font-color-dark);
}