input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1a1a2e inset !important;

    -webkit-text-fill-color: var(--font-color-light) !important;
}






.inputCntainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(16px * 0.2);

}

.label-filter1 {

    background-color: red;
    cursor: pointer;
    padding: calc(16px * 0.5);

}

.label-filter1:hover {
    background-color: rgb(243, 129, 0);
}







.input-filter+div label {
    cursor: pointer;


    padding: calc(16px * 0.2);
    background-color: #676fff;
    color: aqua;
}

.input-filter+div label:hover,
.input-filter+div form input:checked label {
    background-color: rgb(137, 73, 1);
}



.input-filter {

    cursor: pointer;
    padding: calc(16px * 0.2);

}


.classSecondary {

    display: flex;
    justify-content: center;
    align-items: center;
 


}


.classSecondary input {

     min-width: 0;
    flex: 1 1 auto;
    box-sizing: border-box;
 
}

.classSecondary button {
       flex-shrink: 0;
}


@media (hover: none) and (pointer: coarse) {
   input[type="password"] {
   
    max-width: auto;
}
}