input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* Questo trucco usa un'ombra interna infinita per coprire il giallo del browser */
    -webkit-box-shadow: 0 0 0 30px #1a1a2e inset !important;
    
    /* Colore del testo */
    -webkit-text-fill-color: white !important;
}


.inputCntainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}

.label-filter1{
  
    background-color: red;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem
}
.label-filter1:hover{
    background-color: rgb(243, 129, 0);
}



/* .input-filter1 label ~ div{
height: 0;
opacity: 0;
z-index: -1;
} */

/* .input-filter1:checked ~ div{
height: 100dvh;
opacity: 1;
z-index: 2;

} */

.input-filter + div label{
    cursor: pointer;
    width: 30%;
    border-radius: 0.3rem;
    padding: 0.2rem;
    background-color: #676fff;
    color: aqua;
}

.input-filter + div label:hover,
.input-filter + div form input:checked label{
    background-color: rgb(137, 73, 1);
}



.input-filter{
  
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 0.5rem
}