.container{
 width:100%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 1rem;
}

.ul{

    width: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

