.container{
 width:100%;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 1rem;
}

.ul{
       border: 1px solid #f2ef20;
    border-radius: 0.3rem;
    width: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

