.item-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    border-left: 1px solid var(--border-gold-simple);
    border-right: 1px solid var(--border-gold-simple);
    padding: 1rem;
}

.item-details p{
    font-size: 1.1rem;

}

.item-description{
    text-align: left;
}
.image-container{
    padding: 2rem;
    transform: scale(1.4);
}

.details-container{
    border: 1px solid var(--border-gold-simple);
  
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
      width:100% ;
}

.button-container{
    display: flex;
    justify-content: space-between;
      width:100% ;
}


.on-sale{
    text-decoration: line-through 2px var(--font-color-error);
}

.price{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
      width:100% ;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
      width:100% ;
}


.special-price{
    color:#f2ef20 ;
    font-weight: bold;
    font-size: 1.5rem;
}