.item-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    border-left: 1px solid #f2ef20;
    border-right: 1px solid #f2ef20;
    padding: 1rem;
}

.details-container{
    border: 1px solid #f2ef20;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container{
    display: flex;
    justify-content: space-between;
}


.on-sale{
    text-decoration: line-through;
}

.price{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.special-price{
    color:#f2ef20 ;
    font-weight: bold;
    font-size: 1.5rem;
}