.item{
    list-style: none;
  max-width: 15rem;
  min-height: 25rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #f2ef20;
    margin: 1rem;
    background-color: rgba(23, 23, 23, 0.694);
}

.h3{
    text-align: center;
    padding: 0;
    margin: 0;
}

.image{
    margin: 0.5rem;
}

.image-container{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}