.form-login {
    background-color: var(--background-color-tr);
    width: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    box-shadow:
        0 -4px 0 0 #000, 0 4px 0 0 #000, -4px 0 0 0 #000, 4px 0 0 0 #000,
        0 -8px 0 0 #f8b800, 0 8px 0 0 #f8b800, -8px 0 0 0 #f8b800, 8px 0 0 0 #f8b800,
        inset 4px 4px 0 0 #f8f8b8,
        inset -4px -4px 0 0 #b87800;

    margin: 12px;


}

h2 {
    font-family: var(--titleFont);
    font-size: 2.5rem;
}

.error-list {
    color: var(--font-color-error);
    background-color: var(--background-color-tr);
}

.form-login fieldset {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3rem;
}

div.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 0.2rem;
}

label {
    font-family: var(--titleFont);
    ;
    font-size: 1.3rem;
}

input {
    outline: none;
    background-color: var(--background-color);
    border: 1px solid var(--border-gold-simple);
    color: var(--font-color-light);
    padding: 0.2rem;
}

.form-login button {
    background-color: var(--button-background);
    ;
    color: var(--font-color-dark);
    border: 3px solid var(--border-orange);
    border-radius: 0;
}

.form-login button:hover {
    background-color: var(--button-hover-background);
    
    color: var(--font-color-dark);
}

.form-login .toggle-container button {
    background-color: var(--border-orange);
    color: var(--font-color-light);
    padding: 0.2rem;
            border: 1px solid var(--border-orange);


}

.form-login .toggle-container button:hover {
 
        border: 1px solid var(--border-gold-simple);

}

.pixel-field-wrapper {
    animation: pixelAppear 0.2s steps(4) forwards;
    overflow: hidden;
}

@keyframes pixelAppear {
    from {
        opacity: 0;
        transform: translateY(-10px);
        max-height: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        max-height: 200px;
        /* Un valore sufficiente per i due input */
    }
}