nav {
    width: 100%;
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
    background-color: #e4e000;
    color: black;
    position: sticky;

    top: 0;
    z-index: 2;
}

.ul1,.ul2 {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.ul2 li.search-li{
width: 80%;
}
.ul2 li.search-li input{
width: 90%;

}

.ul2 li.filter-li{
width: 10%;
   margin-right: auto;
}






.li {
    position: relative;
}


@media screen and (max-width: 720px) {

    .nav{
        height: fit-content;
       
    }
}









