nav {
    width: calc(100% - (calc(16px * 0.1)));
    margin-right: calc(16px * 1);
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc(16px * 0.8);
    background-color: var(--bacground-color-nav);
    border: 2px solid var(--border-gold-simple);
    border-left: none;
    border-right: none;
    color: var(--font-color-dark);
    position: sticky;
gap: calc(16px * 0.5);
    top: 0;
    z-index: 2;
}

.ul1,
.ul2 {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: calc(16px * 1);
    flex-wrap: wrap;
}



.ul2 li.search-li {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
 
}

.ul2 li.search-li input {
    width: 90%;
    border-left: none;


}
input.search,
input.search::placeholder{

color:var(--font-color-light);
}

nav svg {
    width: calc(16px * 1.5);
    height: calc(16px * 1.5);
    display: block; 
}


nav button svg {
    width: calc(16px * 1.5);
    height: calc(16px * 1.5);
}

.search-icon{
    display:  flex;
    justify-content: center;
    align-items: center;
    width: calc(16px * 1.5);
    color: var(--font-color-light);
    border: 1px solid var(--border-gold-simple);
    border-right: none;
    background-color: var(--background-color);
    padding: calc(16px * 0.2);
    
}



.ul2 li.filter-li {
    width: 10%;
    margin-right: auto;
}



.account-li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(16px * 0.5);
}

.account-div {
    padding-top: calc(16px * 0.5);
    background-color: var(--bacground-color-nav);
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(16px * 1);


}

@media screen and (max-width: 768px) {

    .nav {
        height: fit-content;

    }
  
    .ul1,.ul2{
gap: calc(16px * 0.3);
justify-content: space-evenly;

    }
    .ul2 li.filter-li {
        margin: 0;
    }

         nav svg {
        width: calc(16px * 1.2);
        height: calc(16px * 1.2);
    }  
    
    .search-icon {
        width: calc(16px * 1.2);
        padding: calc(16px * 0.2);
    } 
.ul2 li.search-li input{
    height: calc(16px * 1.7);
}
}

@media screen and (max-width: 768px) {
    nav button svg {
        width: calc(16px * 1.2);
        height: calc(16px * 1.2);
    }
       nav svg {
        width: calc(16px * 1.2);
        height: calc(16px * 1.2);
    }
    
    .search-icon {
        width: calc(16px * 1.2);
        padding: calc(16px * 0.2);
    }
}