.dialog{
    position: absolute;
    top: 40%;
    left: 30%;
    width: 40%;

    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    background-color: #121238;

  
}

.dialog::backdrop{
    background: rgba(0, 0, 0, 0.7);
   
}

.dialog form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}