.modal-checkout{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    gap: 1rem
}

.input-container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.2rem;
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cc-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
}