.no-scroll {
  overflow: hidden;
  padding-right: 15px; 
}

.dialog{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem;
    background-color: var(--background-color);
    border: 2px solid var(--border-gold-simple);
  
}

.dialog::backdrop{
    background: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
 
}

.dialog form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


.button-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}