.modal-checkout{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.title{
    text-align: center;
}


.input-container{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.2rem;
}

.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid var(--border-gold-simple);

}

.buttons-container{
       display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cc-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1rem;
    border-right: 1px solid var(--border-gold-simple);
margin-top: 1rem;
}