

.input-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.2rem;
    flex-direction: column;
    margin: 1rem 0;
}

.input-container h2{
     margin: 1rem 0;
}

 .text{
text-align: center;
}


.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
     margin-top: 1rem ;
   
}