.modal-checkout{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: calc(16px * 0.2);
    margin: 0 auto;
}



.title{
    text-align: center;
   
}


.input-container{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    
}



.button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: calc(16px * 1);
    border-top: 1px solid var(--border-gold-simple);

}

.buttons-container{
       display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: calc(16px * 1);
}

.cc-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: calc(16px * 1);
    border-right: 1px solid var(--border-gold-simple);
margin-top: calc(16px * 1);
padding-right: calc(16px * 2);
}

@media screen and (max-width: 700px) {
    .input-container{
  flex-direction: column-reverse;
    }
     .button-container{
        flex-direction: column;
    }
    .cc-container{
        border-right: none;
        padding-right: 0;
    }
}

.errors-list{
    width: 100%;
    color: var(--font-color-error);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: calc(16px * 0.2);
}