.money{
    display: inline-block;
color: transparent;
background-image: url(../../../assets/d3.png);
background-size: 230%;
background-repeat: no-repeat;
background-position: -20px -10px;
width: calc(16px * 2);
height: calc(16px * 2);
border-radius: 50%;
image-rendering: pixelated;
vertical-align: middle;



}