.secondNav{
 position: sticky;
    top: 0;
    left: 0;
    width: 30%;
    height: 50dvh;
    background-color: #e4e000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
   

   
}