.secondNav{
 
    width: 30%;
    height: 50dvh;
    background-color: #e4e000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem
   
}