

.aside {
position: sticky;
    top: var(--nav-height, 120px);;                         /* ← semplifica, togli il calc complesso */
    width: 35%;
    min-width: 30%;
    height: 70vh;                  /* occupa tutta la viewport */
    max-height: calc(100dvh - var(--nav-height, 120px));
    align-self: flex-start;
    will-change: transform;
    transform: translateZ(0);        /* forza GPU layer su Chrome */
    overflow: auto;
    left: 0;
 padding-top: calc(16px * 0.2);
    background-color: var(--bacground-color-nav);
    border: 2px solid var(--border-gold-simple);
    border-top: none;
    z-index: 2;
    animation: pixelAppear 0.3s steps(3) forwards;
}

.navDiv{
    width: 100%;
    position: sticky;
   top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

main{
    position: relative;
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;



}

main section{
   margin: 0 auto;



}

.asideOpen{
display: block;
}

.asideClosed{
display: none;
 
}

.aside {
    animation: pixelAppear 0.3s steps(3) forwards;
  
}

@keyframes pixelAppear {
    from {
        opacity: 0;
        transform: translateY(-20px);
        max-height: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        max-height:100%;
         z-index: 1;
    }
}