

.aside {
    position: sticky;  
    top: calc(var(--nav-height)  + (16px * 3.3));
    left: 0;
    width: 35%;
    min-width: 30%;
    height: 73dvh;
    max-height: calc(16px * 22.5);
 
    align-self: flex-start;
    background-color: var(--bacground-color-nav);
    border: 2px solid var(--border-gold-simple);
    border-top: none;
    z-index: 2;
   overflow: auto;
    animation: pixelAppear 0.3s steps(3) forwards;
}



main{
position: relative;
    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;

        align-items: flex-start; 
}

.aside {
    animation: pixelAppear 0.3s steps(3) forwards;
  
}

@keyframes pixelAppear {
    from {
        opacity: 0;
        transform: translateY(-20px);
        max-height: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        max-height:100%;
         z-index: 1;
    }
}