.aside {

    position: fixed;
    left: 0;
    width: 30%;
    height: 100%;
    /* padding-top: 1rem; */
    background-color: var(--bacground-color-nav);
    border: 2px solid var(--border-gold-simple);
   
    z-index: 1;
    top:0;
}

main{

    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}