.aside {

    position: fixed;
    left: 0;
    width: 30%;
    height: 100vh;
    background-color: #e4e000;
    z-index: 1;
    top:0;
}

main{

    width: 100%;
    min-height: 60dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}